ul.otobox-choices {
    display: none;
}
.otobox-wrapper.otobox-active ul.otobox-choices {
    display: block;
}
.otobox-wrapper .otobox-input {
    display: none;
    position: absolute;
    top: -1000px;
    height: 0;
    width: 0;
}
.otobox-wrapper .otobox-editableDiv {
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.otobox-input-target {
    white-space: nowrap;
    overflow: hidden;
}
.otobox-input-target br {
    display:none;
}
.otobox-input-target * {
    display:inline;
    white-space:nowrap;
}
/**
 * Thanks to http://stackoverflow.com/a/18368720/375966
 */
.otobox-wrapper .otobox-editableDiv:empty:not(:focus):before{
    color: #ccc;
    content: attr(data-placeholder);
}
.otobox-wrapper .otobox-choices {
    padding: 0;
    margin: 0;
    list-style: none;
}
.otobox-wrapper .otobox-hint {
    color: #ccc;
}
.otobox-wrapper .otobox-choiceItem {
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px;
}
